* {
  margin: 0;
  padding: 0;
}

/* :root {
  font-family: "Open Sans", sans-serif;
} */

/* :root {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px 80px 137px;
} */

body {
  background: #f5f4f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

/* #casca { */
/* display: flex; */
/* background: #29292e; */
/* height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; */
/* } */
/* #page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px 80px 137px;
} */

main {
  background: #f5f4f0;
  padding: 88px 80px 137px;

  /* margin: 88px 80px 137px;*/
  width: 1120px;
}

main > section {
  max-width: calc(1120px - 160px);
}

img {
  border-radius: 28px;
  max-width: calc(1120px - 160px);
}

ol > li,
ul {
  padding-inline-start: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

h1 {
  font-size: 36px;
  padding-bottom: 30px;
}

h3 {
  color: #e1624f;
  font-size: 16px;
  padding-bottom: 8px;
}

h1,
h3 {
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
}

/* #nexttravel {
  display: flex;
  flex-direction: column;
  margin: 80px 88px 80px 88px;
} */

#nexttravel p {
  color: #333333;
  font-size: 16px;
  font-style: italic;
}

#lovehistory p {
  font-size: 16px;
  color: #333333;
}

#locationslist ol li {
  font-size: 28px;
  font-weight: bold;
}

#description {
  color: #333333;
  font-size: 16px;
}

#rocktseat {
  color: #333333;
  font-size: 16px;
}

/* ol li {
  font-size: 28px;
  font-weight: bold;
} */

/* #rocktseat {
  font-family: "Alice", serif;
  font-size: 16px;
  padding: 65px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
} */

footer {
  font-family: "Alice", serif;
  font-size: 16px;
  padding: 65px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rocktseat img {
  padding: 4px;
}

#content {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#content #top {
  display: flex;
  flex-direction: column;
}

/* #content #top:first-child {
  font-size: 28px;
  font-weight: bold;
} */

#content #top #title {
  font-size: 28px;
  font-weight: bold;
}

.text-blue {
  color: #0c51a7;
  font-weight: bold;
}
